@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Assistant', sans-serif;
  background-color: #f7fafc; /* A light gray background */
}

/* Custom scrollbar for a more modern look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
